* {
  margin: 0px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.line {
  width: 5px;
  height: 10px;
  background-color: black;
  position: relative;
  left: 73px;
}

h4 {
  position: absolute;
  top: 600px;
}
@keyframes rotateRight {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateLeft {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
